<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993988526758-9mkrulfqt0v3cf6f6mg5joahj02he751.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993988526758-9mkrulfqt0v3cf6f6mg5joahj02he751</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>993988526758-a40k1r3931p1h4q3k9itg3p24tg9s1am.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDY6AaxqyPLNMhSncELguIkfVP7cd9zbMc</string>
	<key>GCM_SENDER_ID</key>
	<string>993988526758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.remnevents</string>
	<key>PROJECT_ID</key>
	<string>sandtonchurch-c4a57</string>
	<key>STORAGE_BUCKET</key>
	<string>sandtonchurch-c4a57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993988526758:ios:ed4d304630a105efc3aa67</string>
</dict>
</plist>